.header-list{
    display: flex;
    align-items: center;
}
.header-list .logo a{
    float: left;
    font-size: 18px;
    padding-left: 26px;
    line-height: 45px;
    width: 170px;
    color: rgb(255, 255, 255) !important;
}
.header-list .left_open i {
    font-size: 14px;
    display: block;
    background: rgba(255,255,255,0.1);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-left: 24px;
    cursor: pointer;
    color:#515a6e;
}
.header-list .left_open:hover i{
    background: rgba(255,255,255,0.3);
}
.header-text{
    display: flex;
    align-items: center;
    margin-left: 100px;
    color: #fff;
}
.header-text img{
    margin-right: 10px;
}
.header-text .header-text-2{
    margin-left: 15px;
    color: #384246;
    cursor: pointer;
}